div{
    
    background-color: orange;
    height: 100px;
    width:100px;
    border: 5px solid rgb(25,9,163);
    color: rbg(255,253,252);
    font: size 25px; ;
    font-family: cursive;
    font-weight: 800px;
    padding: 30px;
    margin: 5px;

    /*
      border-radius:2px:
      border-color:black;
      border-style: solid;
    */


}

.box{
    border: 2px solid black;
}
 
#a{

background-color: aqua;

}

#b{


    background-color: burlywood;
}