div{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgba(42, 165, 165, 0.54);
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: 50px;
}

.box{
    border: 2px;
}
/*  */
#a{
    border: 20px;
}