/* div{
    color: blue;
    background-color: aqua;
    width: 100px;
    height: 50px;
    font-size: x-large;
    font-size: 20px;
    font-size: 120%;
    font-family: cursive;
    font-weight: 800;

} */
 .box{
    color: blue;
    background-color: aqua;
    width: 100px;
    height: 50px;
    font-size: x-large;
    font-size: 20px;
    font-size: 120%;
    font-family: cursive;
    font-weight: 800;
    border: 2px solid black;

 }
 #a{
    padding: 10px 20px 30px 40px;
 }
 #b{
    border: 2px solid red;
    margin: 10px;
 }