/*.box{
    background-color: chocolate;
    height: 10px;
    width: 10px;
}
*/
/*div{
    height: 100px;
    width: 100px;
    border: 5px solid black; 
    background-color: chocolate;
    background-color: rgb(33,210,30);
    background-color: #7fb1f8;
    color:rgb(255, 253, 252);
    font-size: xx-large;
    font-family: cursive;
    font-weight: normal;
    padding: 30px;
    margin: 5px;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
     border:border-radius style color;
}   
*/ 
/* # for id and . for class */

.box{
    border: 2px solid black;
    height: 100px;
    width: 100px;
}
#a{
   background-color: aquamarine;
   margin-bottom: 100px;
}
#b{
    background-color: burlywood;
}
th{
    padding:10px;
}