/* .box{
    background-color: chocolate;
    height: 100px;
    width: 100px;
} */

div{
    background-color: blueviolet;
    border: 3px solid rgb(81, 50, 5);
    color: white;
    font-style: italic;
    font-family: cursive;
    font-weight: 1000px;
    height: 100px;
    width: 150px;
}